<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <%= form.text_field :store, placeholder: 'my_store.myshopify.com', class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit",  class: "btn btn-primary"%>
  </div>
   </fieldset>
<% end %>
