<p id="notice"><%= notice %></p>

<p>
  <strong>Store:</strong>
  <%= @user.store %>
</p>

<p>
  <strong>Nonce:</strong>
  <%= @user.nonce %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @user.access_token %>
</p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.Email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
