<p id="notice"><%= notice %></p>
<br/>
<p>
  <strong>Store:</strong>
  <%= @user.store %>
</p>

<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br/>
<h1>Customers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
    <tbody>
    <% @user.customers.each do |customer| %>
      <tr class="<%= cycle("table-active", "table-secondary")%>">
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.Email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
